body {
    background: #fefefe;
}
.navigation {
    height: 80px;
    width: 100vw;
    background: #CA3C25;
    position: fixed;
    top:0px;
    left: 0;
    box-sizing: border-box; 
    display: block;
}

.header {
    
}
.main__heading {
    padding-top: 80px;
    font-family: rubik;
    font-size: 3rem;
    letter-spacing: .5rem;
    color: #f9c802;
    text-shadow: 2px 2px 0 #e30613;
    margin-left:25%;
}

.section {
    min-height: 200px;
    padding: 20px 0 0 20px;
}
.section__header {
    color: #564E58;
}
.section__paragraph, .footer__paragraph {
    padding: 10px 10px;
}
.sectionImg {
    float: left;
    width: 100%;border-radius: 180px;display:block;
    
}
.footer {
    background: #CA3C25;
    color: #ffffff;
    width: 100vw;
    height: 50px;
}
.top {
    position: fixed;
    bottom: 5px;
    right: 5px;
}
