body {
    background: #fefefe;
}

.top__header {
    height: 80px;
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100vw;
}

.navigation {}

.navigation__list {
    list-style: none;
    padding: 0;
}

.navigation__item {
    display: inline;
    font-size: 21px;
    padding: 10px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    line-height: 0px;
    background: #f0f0f0;
}

.navigation__link {
    text-decoration: none;
    color: #555;
}

/*.navigation__link--logo {
    position: absolute;
    right: 40px;
    top: -60px;
}*/

.header {}

.main {
    margin: auto;
    width: 1000px;
}

.main__heading {
    font-family: rubik;
    font-size: 2rem;
    letter-spacing: .5rem;
    color: #ffd839;
    text-shadow: 2px 2px 4px #336699;
    margin-left: 20%;
}

.section {
    padding: 20px 0 0 20px;
}

.section__header {
    color: #1761A0;
}

.section__paragraph {
    padding: 10px 15px;
    border-left: 3px solid cadetblue;
    line-height: 24px;
    font-family: Lato;
    letter-spacing: 0.1rem;
}

.footer {
    color: cadetblue;
    height: 50px;
}

.footer__paragraph {
    padding: 15px 30px;
    font-family: lato;
    letter-spacing: 0.1rem;
}

.footer__paragraph--arrow {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 50px;
}
.footer__paragraph--img{
width: 50px;
}
